<section data-ng-controller="CaixasController" data-ng-init="">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixas</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <a>Registrar Caixa</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form data-ng-submit="create()">
            <div class="row">

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registrar Caixa</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <br/><br/>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="inputDataCaixa" class="input-group-addon"><i class="fa fa-calendar"></i></label>
                                    <input type="date" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">
                                </div>
                            </div>

                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Manhã</th>
                                    <th style="text-align: center;">Tarde</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Abertura</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.manha.valor" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Venda</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Transferência</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Dinheiro</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.tarde.valor" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table> <!-- Tabela ... -->

                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Salgados</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Folhados</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.salgados.folhados.qtd" placeholder=""></td>
                                </tr> <!-- Folhados -->
                                <tr>
                                    <td>Outros</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.salgados.outros.qtd" placeholder=""></td>
                                </tr> <!-- Outros -->
                                <tr>
                                    <td>Pão de Queijo</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.salgados.pao_de_queijo.qtd" placeholder=""></td>
                                </tr> <!-- Pão de Queijo -->
                                <tr>
                                    <td>Leitura Z</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.leitura_z.valor" placeholder=""></td>
                                </tr> <!-- Leitura Z -->
                                </tbody>
                            </table> <!-- Salgados -->

                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Abertura</th>
                                    <th style="text-align: center;">Fechamento</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Água</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.agua.abertura.valor" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.agua.fechamento.valor" placeholder=""></td>
                                </tr> <!-- Água -->
                                <tr>
                                    <td>Luz</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.luz.abertura.valor" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.luz.fechamento.valor" placeholder=""></td>
                                </tr> <!-- Luz -->
                                </tbody>
                            </table> <!-- Água e Luz -->

                        </div>
                    </div>
                </div> <!-- ibox Lançamentos Caixa -->
                <div class="col-lg-6">
                    <div class="tabs-container">

                        <tabset>
                            <tab>
                                <tab-heading>
                                    <i class="fa fa-cc-visa"></i>Cartões
                                </tab-heading>
                                <div class="panel-body">

                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    <i class="fa fa-desktop"></i>Despesas
                                </tab-heading>
                                <div class="panel-body">
                                    <strong>Donec quam felis</strong>


                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    <i class="fa fa-database"></i>
                                </tab-heading>
                                <div class="panel-body">
                                    <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                                </div>
                            </tab>
                        </tabset>

                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Inline form</h5>

                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-inline">

                                <div class="form-group form-group-sm">
                                    <input type="text" placeholder="Descrição" class="form-control" data-ng-model="objRegistro.descricao" tabindex="15">
                                </div> <!-- Input Descrição do Registro -->

                                <div class="form-group form-group-sm">
                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="objRegistro.valor" tabindex="16">
                                </div> <!-- Input Valor do Registro -->

                                <div class="form-group form-group-sm" tabindex="17">
                                    <select class="form-control"
                                            data-ng-model="objRegistro.tipo"
                                            data-ng-options="item.valor as item.display for item in listaTiposRegistro">
                                    </select>
                                </div> <!-- Select Tipos do Registro -->

                                <div class="form-group form-group-sm" ng-show="objRegistro.tipo === enums.tipos.desp" tabindex="18"> <!-- enum do caixa.client.controller -->
                                    <select class="form-control"
                                            data-ng-model="objRegistro.turno"
                                            data-ng-options="item.valor as item.display for item in listaTurnos">
                                    </select>
                                </div> <!-- Select Turnos -->

                                <div class="form-group form-group-sm" ng-show="objRegistro.tipo === enums.tipos.mov" tabindex="18"> <!-- enum do caixa.client.controller -->
                                    <select class="form-control"
                                            data-ng-model="objRegistro.origem"
                                            data-ng-options="item.valor as item.display for item in listaOrigens">
                                    </select>
                                </div> <!-- Select Origem -->
                                <div class="form-group form-group-sm">
                                    <a style="margin-top: 6px; margin-left: 15px;" class="btn btn-sm btn-info" ng-click="addRegistro(objRegistro)" tabindex="19"><i class="fa fa-plus"></i></a>
                                </div>

                            </div> <!-- Form Input Despesas e Movimentação -->
                        </div>
                    </div>
                </div> <!-- ibox INPUTs ObjRegistro -->

                <div class="col-lg-3">

                    <table class="table no-margins">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-danger">Despesas Manhã</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="desp_m in saidas.despesas | filter: {turno: enums.turnos.manha}">
                                <td>{{ desp_m.descricao }}</td>
                                <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                                <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>
                            </tr>
                        </tbody>
                    </table> <!-- Tabela Saídas - Manhã -->
                    <br/><br/>

                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3" class="text-danger">Despesas Tarde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in saidas.despesas | filter: {turno: enums.turnos.tarde}">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>
                        </tr>
                        </tbody>
                    </table> <!-- Tabela Saídas - Tarde -->

                </div> <!-- Tabelas Lançamentos Despesas -->

                <div class="col-lg-3">
                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3">Movimentação Cofre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in movimentacoes | filter: {origem: enums.origens.cofre}">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_cofre')"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/><br/>
                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3">Movimentação Geral</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in movimentacoes | filter: {origem: enums.origens.geral}">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_geral')"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- Tabelas Lançamentos Movimentação -->

                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Lançamento de Cartões</h5>

                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-inline">

                                <div class="form-group">
                                    <input type="hidden" name="tipo_cartao" data-ng-model="objCartao.tipo" ng-value="tipo_cartao" ng-init="tipo_cartao='Cartão'">
                                </div> <!-- Input INVISÍVEL para informar o tipo do lancamento para facilitar a função que joga o obj no array correspondente -->

                                <div class="form-group">
                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="objCartao.valor">
                                </div> <!-- Input Valor do Registro -->

                                <div class="form-group">
                                    <select class="form-control"
                                            data-ng-model="objCartao.bandeira"
                                            data-ng-options="item.valor as item.display for item in listaBandeiras">
                                    </select>
                                </div> <!-- Select Bandeiras -->

                                <div class="form-group">
                                    <select class="form-control"
                                            data-ng-model="objCartao.turno"
                                            data-ng-options="item.valor as item.display for item in listaTurnos">
                                    </select>
                                </div> <!-- Select Turnos -->

                                <a style="margin-top: 6px; margin-left: 15px;" class="btn btn-info" ng-click="addCartao(objCartao)"><i class="fa fa-plus"></i></a>

                            </div>
                        </div>
                    </div>
                </div> <!-- ibox INPUTs Cartões -->

                <div class="col-lg-3">

                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3" class="text-info">Cartões Manhã</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in saidas.cartoes | filter: {turno: enums.turnos.manha}">
                            <td>{{ desp_m.bandeira }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>
                        </tr>
                        </tbody>
                    </table> <!-- Tabela Cartões - Manhã -->
                    <br/><br/>

                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3" class="text-info">Cartões Tarde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in saidas.cartoes | filter: {turno: enums.turnos.tarde}">
                            <td>{{ desp_m.bandeira }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>
                        </tr>
                        </tbody>
                    </table> <!-- Tabela Saídas - Tarde -->

                </div> <!-- Tabelas Lançamentos Cartões -->

            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </form>
    </div>
</section>
