<section data-ng-controller="CaixasController" data-ng-init="">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixas</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <a>Registrar Caixa</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">



        <form data-ng-submit="create()">

            <div class="row">

                <div class="col-lg-4 m-b-lg">

                    <div class="tabs-container">

                        <tabset>

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Entradas
                                </tab-heading>

                                <div class="panel-body">

                                    <div class="row m-b-md">

                                        <div class="col-lg-12 p-w-lg m-t-md">


                                            <div class="form-group form-group-sm">
                                                <div class="input-group">
                                                    <label class="input-group-addon"><i class="fa fa-calendar"></i></label>
                                                    <input type="date" class="form-control" data-ng-model="caixa.data_caixa">
                                                </div>
                                            </div> <!-- Grupo Data do Caixa -->


                                            <div class="form-group form-group-sm">
                                                <label><small>Abertura</small></label>
                                                <div class="input-group m-b-sm">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.entradas.abertura.manha.valor">
                                                </div>
                                                <div class="input-group">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Tarde"><i class="fa fa-sun-o"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.entradas.abertura.tarde.valor">
                                                </div>
                                            </div> <!-- Grupo Abertura -->


                                            <div class="form-group form-group-sm">
                                                <label><small>Venda</small></label>
                                                <div class="input-group m-b-sm">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.entradas.vendas.manha.valor">
                                                </div>
                                                <div class="input-group">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Tarde"><i class="fa fa-sun-o"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.entradas.vendas.tarde.valor">
                                                </div>
                                            </div> <!-- Grupo Venda -->

                                        </div>
                                    </div>

                                </div>

                            </tab> <!-- Tab Form Entradas -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Saídas
                                </tab-heading>

                                <div class="panel-body">

                                    <div class="row m-b-md">

                                        <div class="col-lg-12 p-w-lg m-t-md">

                                            <div class="form-group form-group-sm">
                                                <div class="input-group">
                                                    <label class="input-group-addon"><i class="fa fa-calendar"></i></label>
                                                    <input type="date" class="form-control" data-ng-model="caixa.data_caixa">
                                                </div>
                                            </div> <!-- Grupo Data do Caixa -->


                                            <div class="form-group form-group-sm">
                                                <label><small>Transferências</small></label>
                                                <div class="input-group m-b-sm">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.saidas.transferencia.manha.valor">
                                                </div>
                                                <div class="input-group">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Tarde"><i class="fa fa-sun-o"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.saidas.transferencia.tarde.valor">
                                                </div>
                                            </div> <!-- Grupo Transferência -->


                                            <div class="form-group form-group-sm">
                                                <label><small>Dinheiro</small></label>
                                                <div class="input-group m-b-sm">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.saidas.dinheiro.manha.valor">
                                                </div>
                                                <div class="input-group">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Tarde"><i class="fa fa-sun-o"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.saidas.dinheiro.tarde.valor">
                                                </div>
                                            </div> <!-- Grupo Dinheiro -->

                                        </div>
                                    </div>

                                </div>

                            </tab> <!-- Tab Form Saídas -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Fiscal
                                </tab-heading>

                                <div class="panel-body">

                                    <div class="row m-b-md">

                                        <div class="col-lg-12 p-w-lg m-t-md m-b-md">

                                            <div class="form-group form-group-sm">
                                                <div class="input-group">
                                                    <label class="input-group-addon"><i class="fa fa-calendar"></i></label>
                                                    <input type="date" class="form-control" data-ng-model="caixa.data_caixa">
                                                </div>
                                            </div> <!-- Grupo Data do Caixa -->


                                            <div class="form-group form-group-sm">
                                                <label><small>Fita Branca</small></label>
                                                <div class="input-group m-b-sm">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.controles.fiscal.fita_branca.manha.valor">
                                                </div>
                                                <div class="input-group">
                                                    <label class="input-group-addon" tooltip-placement="left" tooltip="Tarde"><i class="fa fa-sun-o"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.controles.fiscal.fita_branca.tarde.valor">
                                                </div>
                                            </div> <!-- Fita Branca -->


                                            <div class="form-group form-group-sm m-b-lg">
                                                <label><small>Leitura Z</small></label>
                                                <div class="input-group">
                                                    <label class="input-group-addon"><i class="fa fa-print"></i></label>
                                                    <input type="number" step="any" class="form-control" data-ng-model="caixa.controles.fiscal.leitura_z.valor">
                                                </div>
                                            </div> <!-- Leitura Z -->

                                        </div>
                                    </div>

                                </div>

                            </tab> <!-- Tab Form Fiscal -->


                        </tabset>

                    </div>

                </div>


                <div class="col-lg-8 m-b-lg">

                    <div class="tabs-container">

                        <tabset>

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Despesas
                                </tab-heading>

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <div class="form">

                                                <h4 class="m-b-lg">Lançamento de Despesas</h4>

                                                <div class="form-group form-group-sm">
                                                    <input type="text" placeholder="Descrição" class="form-control" data-ng-model="obj.despesa.descricao">
                                                </div> <!-- Input Descrição do Registro -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.despesa.valor">
                                                </div> <!-- Input Valor do Registro -->

                                                <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                                    <select class="form-control"
                                                            data-ng-model="obj.despesa.fornecedor"
                                                            data-ng-options="item as item for item in lista.fornecedores">
                                                    </select>
                                                </div> <!-- Select Fornecedor -->

                                                <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                                    <select class="form-control"
                                                            data-ng-model="obj.despesa.turno"
                                                            data-ng-options="item.valor as item.display for item in lista.turnos">
                                                    </select>
                                                </div> <!-- Select Turno -->

                                                <div class="form-group form-group-sm m-t-md">
                                                    <span class="btn btn-sm btn-block btn-info" ng-click="addReg(obj.despesa); sounds.play('add')">Adicionar</span>
                                                </div>

                                            </div> <!-- Form Input Despesas -->
                                        </div>
                                        <div class="col-lg-6 b-r p-w-lg m-t-md">
                                            <h4 class="m-b-md">Lista de Despesas</h4>
                                            <table class="table no-margins p-md">
                                                <!--<thead>-->
                                                <!--<tr>-->
                                                    <!--<th colspan="3" class="text-danger">Despesas</th>-->
                                                <!--</tr>-->
                                                <!--</thead>-->
                                                <tbody>
                                                <tr data-ng-repeat="desp in saidas.despesas | orderBy: 'turno'">
                                                    <td>{{ desp.descricao | limitTo: 20 }}</td>
                                                    <td>{{ desp.fornecedor | limitTo: 8 }}</td>
                                                    <td><i ng-class="defC.turnoIcon(desp.turno)"></i></td>
                                                    <td>{{ desp.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(desp); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Despesas -->

                                        </div> <!-- Tabela Despesas -->
                                    </div> <!-- Linha Cadastro e Lista de DESPESAS -->

                                </div>

                            </tab> <!-- Tab Form Despesas -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-lightbulb-o"></i> Consumo
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <div class="form">

                                                <h4 class="m-b-lg">Lançamento de Serviços</h4>

                                                <div class="form-group form-group-sm">
                                                    <select class="form-control"
                                                            data-ng-model="obj.consumo.nome"
                                                            data-ng-options="item.valor as item.display for item in lista.consumos">
                                                    </select>
                                                </div> <!-- Select Nome do Consumo -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Abertura" class="form-control" data-ng-model="obj.consumo.inicial.valor">
                                                </div> <!-- Input Consumo Inicial -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Encerramento" class="form-control" data-ng-model="obj.consumo.final.valor">
                                                </div> <!-- Input Qtd Perdida -->

                                                <div class="form-group form-group-sm m-t-md">
                                                    <span class="btn btn-sm btn-block btn-info" ng-click="addReg(obj.consumo); sounds.play('add')">Adicionar</span>
                                                </div> <!-- Botão Add Produto -->

                                            </div> <!-- Form Input Produtos (Salgados) -->

                                        </div> <!-- Coluna Input Produtos (Salgados) -->

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">
                                            <h4 class="m-b-md">Lista de Serviços</h4>

                                            <table class="table no-margins p-md">
                                                <!--<thead>-->
                                                <!--<tr>-->
                                                    <!--<th>Serviços</th>-->
                                                    <!--<th><i class="fa fa-hourglass-start"></i></th>-->
                                                    <!--<th><i class="fa fa-hourglass-end"></i></th>-->
                                                    <!--<th><i class="fa fa-bolt"></i></th>-->
                                                <!--</tr>-->
                                                <!--</thead>-->
                                                <tbody>
                                                <tr data-ng-repeat="consumo in controles.consumo">
                                                    <td>{{ consumo.nome }}</td>
                                                    <td>{{ consumo.inicial.valor }}</td>
                                                    <td>{{ consumo.final.valor }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(consumo); sounds.play('remove')"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Salgados -->

                                        </div>

                                    </div> <!-- Coluna Input Produtos (Salgados) Produtos (Salgados) -->


                                </div>

                            </tab> <!-- Tab Form Consumo (Luz Água) -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Movimentação
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <div class="form">

                                                <h4 class="m-b-lg">Lançamento de Movimentação</h4>

                                                <div class="form-group form-group-sm">
                                                    <input type="text" placeholder="Descrição" class="form-control" data-ng-model="obj.movimentacao.descricao">
                                                </div> <!-- Input Descrição do Registro -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.movimentacao.valor">
                                                </div> <!-- Input Valor do Registro -->

                                                <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                                    <select class="form-control"
                                                            data-ng-model="obj.movimentacao.origem"
                                                            data-ng-options="item.valor as item.display for item in lista.origens">
                                                    </select>
                                                </div> <!-- Select Origem -->

                                                <div class="form-group form-group-sm m-t-md">
                                                    <span class="btn btn-sm btn-block btn-info" ng-click="addReg(obj.movimentacao); sounds.play('add')">Adicionar</span>
                                                </div> <!-- Botão Cadastro -->

                                            </div> <!-- Form Input Movimentação -->

                                        </div>

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <h4 class="m-b-lg">Lista de Movimentações</h4>

                                            <table class="table no-margins p-md">
                                                <tr data-ng-repeat="mov in movimentacoes | orderBy: 'origem'">
                                                    <td>{{ mov.descricao }}</td>
                                                    <td><i ng-class="defC.origemIcon(mov.origem)"></i></td>
                                                    <td>{{ mov.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(mov); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Movimentações -->

                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-lg-6">

                                        </div>

                                    </div> <!-- Row Tabela Movimentações -->

                                </div>
                            </tab> <!-- Tab Form Movimentação -->

                            <tab>

                                <tab-heading>
                                    <i class="fa fa-credit-card-alt"></i>Cartões
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <div class="form">

                                                <h4 class="m-b-lg">Lançamento de Cartões</h4>

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.cartao.valor">
                                                </div> <!-- Input Valor do Registro -->

                                                <div class="form-group form-group-sm">
                                                    <select class="form-control"
                                                            data-ng-model="obj.cartao.bandeira"
                                                            data-ng-options="item.valor as item.display for item in lista.bandeiras">
                                                    </select>
                                                </div> <!-- Select Bandeiras -->

                                                <div class="form-group form-group-sm">
                                                    <select class="form-control"
                                                            data-ng-model="obj.cartao.turno"
                                                            data-ng-options="item.valor as item.display for item in lista.turnos">
                                                    </select>
                                                </div> <!-- Select Turnos -->

                                                <div class="form-group form-group-sm m-t-md">
                                                    <span class="btn btn-sm btn-block btn-info" ng-click="addReg(obj.cartao); sounds.play('add')">Adicionar</span>
                                                </div> <!-- Botão + -->


                                            </div> <!-- Form Cartões -->

                                        </div>

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">
                                            <h4 class="m-b-md">Lista de Cartões</h4>
                                            <table class="table no-margins p-md">
                                                <tbody>
                                                <tr data-ng-repeat="cartao in saidas.cartoes | orderBy: 'turno'">
                                                    <td>{{ cartao.bandeira }}</td>
                                                    <td><i ng-class="defC.turnoIcon(cartao.turno)"></i></td>
                                                    <td>{{ cartao.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(cartao); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Cartões -->
                                        </div> <!-- Tabela Cartões - Manhã -->

                                    </div>


                                </div>
                            </tab> <!-- Tab Form Cartões -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-cutlery"></i> Salgados
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-lg-6 b-r p-w-lg m-t-md">

                                            <div class="form">

                                                <h4 class="m-b-lg">Lançamento de Produtos</h4>

                                                <div class="form-group form-group-sm">
                                                    <select class="form-control"
                                                            data-ng-model="obj.produto.nome"
                                                            data-ng-options="item.valor as item.display for item in lista.produtos">
                                                    </select>
                                                </div> <!-- Select Nome do Produto -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Vendido" class="form-control" data-ng-model="obj.produto.venda.valor">
                                                </div> <!-- Input Qtd Vendida -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Perdido" class="form-control" data-ng-model="obj.produto.perda.valor">
                                                </div> <!-- Input Qtd Perdida -->

                                                <div class="form-group form-group-sm">
                                                    <input type="number" step="any" placeholder="Usado" class="form-control" data-ng-model="obj.produto.uso.valor">
                                                </div> <!-- Input Qtd Usada -->

                                                <div class="form-group form-group-sm m-t-md">
                                                    <span class="btn btn-sm btn-block btn-info" ng-click="addReg(obj.produto); sounds.play('add')">Adicionar</span>
                                                </div> <!-- Botão Add Produto -->

                                            </div> <!-- Form Input Produtos (Salgados) -->

                                        </div> <!-- Coluna Form Input Produtos (Salgados) -->


                                        <div class="col-lg-6 b-r p-w-lg m-t-md">


                                            <table class="table no-margins p-w-md m-t-lg">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Salgados</th>
                                                    <th><i class="fa fa-money" popover-placement="left" popover="Vendidos"></i></th>
                                                    <th><i class="fa fa-trash" popover-placement="left" popover="Perdidos"></i></th>
                                                    <th><i class="fa fa-refresh" popover-placement="left" popover="Usados"></i></th>
                                                    <th><i class="fa fa-bolt" popover-placement="left" popover="Ações"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="prod in controles.produtos">
                                                    <td><i class="fa fa-cutlery"></i></td>
                                                    <td>{{ prod.nome }}</td>
                                                    <td>{{ prod.venda.valor }}</td>
                                                    <td>{{ prod.perda.valor }}</td>
                                                    <td>{{ prod.uso.valor }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(prod); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Salgados -->

                                        </div> <!-- Tabela Produtos (Salgados) -->


                                    </div>


                                    <div class="row">

                                    </div> <!-- Row Tabela Produtos (Salgados) -->
                                </div>
                            </tab> <!-- Tab Form Produtos (Salgados) -->


                        </tabset>

                    </div>

                </div> <!-- Tab Lançamentos -->
            </div>

            <div class="row">
                <div class="col-lg-12 m-t-lg">
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </div>
            </div>

        </form>

    </div>

</section>

<!--<div class="col-lg-4">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--<h5>Registrar Caixa</h5>-->
<!--<div ibox-tools></div>-->
<!--</div>-->
<!--<div class="ibox-content">-->

<!--<div class="row">-->

<!--<div class="col-lg-12">-->
<!--<div class="form m-t-md">-->

<!--<div class="form-group form-group-sm">-->
<!--<div class="input-group">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="On the Left!"><i class="fa fa-calendar"></i></label>-->
<!--<input type="date" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--</div>-->
<!--<br/>-->



<!--<div class="form-group form-group-sm">-->
<!--<label><small>Abertura</small></label>-->
<!--<div class="input-group m-b-sm">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-sun-o"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group form-group-sm">-->
<!--<label><small>Venda</small></label>-->
<!--<div class="input-group m-b-sm">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-sun-o"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group form-group-sm">-->
<!--<label><small>Transferência</small></label>-->
<!--<div class="input-group m-b-sm">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-sun-o"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group form-group-sm">-->
<!--<label><small>Dinheiro</small></label>-->
<!--<div class="input-group m-b-sm">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-coffee"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="Manhã"><i class="fa fa-sun-o"></i></label>-->
<!--<input type="number" step="any" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;<table class="table table-striped no-margins">&ndash;&gt;-->
<!--&lt;!&ndash;<thead>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<th></th>&ndash;&gt;-->
<!--&lt;!&ndash;<th style="text-align: center;">Manhã</th>&ndash;&gt;-->
<!--&lt;!&ndash;<th style="text-align: center;">Tarde</th>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;</thead>&ndash;&gt;-->
<!--&lt;!&ndash;<tbody>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td>Abertura</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.manha.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.tarde.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td>Venda</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.manha.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.tarde.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td>Transferência</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.manha.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.tarde.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td>Dinheiro</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.manha.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.tarde.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;</tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table> &lt;!&ndash; Tabela ... &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<table class="table table-striped no-margins">&ndash;&gt;-->
<!--&lt;!&ndash;<thead>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<th></th>&ndash;&gt;-->
<!--&lt;!&ndash;<th style="text-align: center;">Salgados</th>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;</thead>&ndash;&gt;-->
<!--&lt;!&ndash;<tbody>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td>Leitura Z</td>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.leitura_z.valor" placeholder=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr> &lt;!&ndash; Leitura Z &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table> &lt;!&ndash; Salgados &ndash;&gt;&ndash;&gt;-->


<!--</div>-->
<!--</div>-->
<!--</div> &lt;!&ndash; ibox Lançamentos Caixa &ndash;&gt;-->
