<section data-ng-controller="CaixasController" data-ng-init="">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixas</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <a>Registrar Caixa</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form data-ng-submit="create()">
            <div class="row">

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registrar Caixa</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <br/><br/>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="inputDataCaixa" class="input-group-addon" tooltip-placement="left" tooltip="On the Left!"><i class="fa fa-calendar"></i></label>
                                    <input type="date" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">
                                </div>
                            </div>

                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Manhã</th>
                                    <th style="text-align: center;">Tarde</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Abertura</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.manha.valor" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.abertura.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Venda</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="entradas.vendas.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Transferência</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.transferencia.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Dinheiro</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="saidas.dinheiro.tarde.valor" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table> <!-- Tabela ... -->

                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Salgados</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Leitura Z</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="controles.leitura_z.valor" placeholder=""></td>
                                </tr> <!-- Leitura Z -->
                                </tbody>
                            </table> <!-- Salgados -->


                        </div>
                    </div>
                </div> <!-- ibox Lançamentos Caixa -->

                <div class="col-lg-8">

                    <div class="tabs-container">

                        <tabset>

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Despesas
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="form-inline">

                                        <div class="form-group form-group-sm">
                                            <input type="text" placeholder="Descrição" class="form-control" data-ng-model="obj.despesa.descricao">
                                        </div> <!-- Input Descrição do Registro -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.despesa.valor">
                                        </div> <!-- Input Valor do Registro -->

                                        <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                            <select class="form-control"
                                                    data-ng-model="obj.despesa.fornecedor"
                                                    data-ng-options="item as item for item in lista.fornecedores">
                                            </select>
                                        </div> <!-- Select Fornecedor -->

                                        <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                            <select class="form-control"
                                                    data-ng-model="obj.despesa.turno"
                                                    data-ng-options="item.valor as item.display for item in lista.turnos">
                                            </select>
                                        </div> <!-- Select Turno -->

                                        <div class="form-group form-group-sm">
                                            <a style="border-color: white;" class="btn btn-sm btn-info" ng-click="addReg(obj.despesa); sounds.play('add')"><i class="fa fa-plus"></i></a>
                                        </div>

                                    </div> <!-- Form Input Despesas e Movimentação -->
                                    <br/>

                                    <div class="row">
                                        <div class="col-lg-6">

                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th colspan="3" class="text-danger">Despesas</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="desp in saidas.despesas | orderBy: 'turno'">
                                                    <td>{{ desp.descricao }}</td>
                                                    <td><i ng-class="defC.turnoIcon(desp.turno)"></i></td>
                                                    <td>{{ desp.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(desp); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Despesas -->

                                        </div> <!-- Tabela Despesas -->
                                    </div> <!-- Row Tabela Despesas -->
                                </div>
                            </tab> <!-- Tab Form Despesas -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-lightbulb-o"></i> Consumo
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="form-inline">

                                        <div class="form-group form-group-sm">
                                            <select class="form-control"
                                                    data-ng-model="obj.consumo.nome"
                                                    data-ng-options="item.valor as item.display for item in lista.consumos">
                                            </select>
                                        </div> <!-- Select Nome do Consumo -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Abertura" class="form-control" data-ng-model="obj.consumo.inicial.valor">
                                        </div> <!-- Input Consumo Inicial -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Encerramento" class="form-control" data-ng-model="obj.consumo.final.valor">
                                        </div> <!-- Input Qtd Perdida -->

                                        <div class="form-group form-group-sm">
                                            <a style="border-color: white;" class="btn btn-sm btn-info" ng-click="addReg(obj.consumo); sounds.play('add')">
                                                <i class="fa fa-plus"></i></a>
                                        </div> <!-- Botão Add Produto -->

                                    </div> <!-- Form Input Produtos (Salgados) -->
                                    <br/>

                                    <div class="row">
                                        <div class="col-lg-8">

                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th>Serviços</th>
                                                    <th><i class="fa fa-hourglass-start"></i></th>
                                                    <th><i class="fa fa-hourglass-end"></i></th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="consumo in controles.consumo">
                                                    <td>{{ consumo.nome }}</td>
                                                    <td>{{ consumo.inicial.valor }}</td>
                                                    <td>{{ consumo.final.valor }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(consumo); sounds.play('remove')"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Salgados -->

                                        </div> <!-- Tabela Produtos (Salgados) -->
                                    </div>

                                </div>

                            </tab> <!-- Tab Form Consumo (Luz Água) -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-money"></i>Movimentação
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="form-inline">

                                        <div class="form-group form-group-sm">
                                            <input type="text" placeholder="Descrição" class="form-control" data-ng-model="obj.movimentacao.descricao">
                                        </div> <!-- Input Descrição do Registro -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.movimentacao.valor">
                                        </div> <!-- Input Valor do Registro -->

                                        <div class="form-group form-group-sm"> <!-- enum do caixa.client.controller -->
                                            <select class="form-control"
                                                    data-ng-model="obj.movimentacao.origem"
                                                    data-ng-options="item.valor as item.display for item in lista.origens">
                                            </select>
                                        </div> <!-- Select Origem -->

                                        <div class="form-group form-group-sm">
                                            <a style="border-color: white;" class="btn btn-sm btn-info" ng-click="addReg(obj.movimentacao); sounds.play('add')"><i class="fa fa-plus"></i></a>
                                        </div> <!-- Botão Cadastro -->

                                    </div> <!-- Form Input Movimentação -->
                                    <br/>

                                    <div class="row">

                                        <div class="col-lg-6">
                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th colspan="3">Movimentação</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="mov in movimentacoes | orderBy: 'origem'">
                                                    <td>{{ mov.descricao }}</td>
                                                    <td><i ng-class="defC.origemIcon(mov.origem)"></i></td>
                                                    <td>{{ mov.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(mov); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- Tabela Movimentações -->

                                    </div> <!-- Row Tabela Movimentações -->

                                </div>
                            </tab> <!-- Tab Form Movimentação -->

                            <tab>

                                <tab-heading>
                                    <i class="fa fa-credit-card-alt"></i>Cartões
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="form-inline">

                                        <div class="form-group form-group-sm">
                                            <input type="hidden" name="tipo_cartao" data-ng-model="objCartao.tipo" ng-value="tipo_cartao" ng-init="tipo_cartao='Cartão'">
                                        </div> <!-- Input INVISÍVEL para informar o tipo do lancamento para facilitar a função que joga o obj no array correspondente -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="obj.cartao.valor">
                                        </div> <!-- Input Valor do Registro -->

                                        <div class="form-group form-group-sm">
                                            <select class="form-control"
                                                    data-ng-model="obj.cartao.bandeira"
                                                    data-ng-options="item.valor as item.display for item in lista.bandeiras">
                                            </select>
                                        </div> <!-- Select Bandeiras -->

                                        <div class="form-group form-group-sm">
                                            <select class="form-control"
                                                    data-ng-model="obj.cartao.turno"
                                                    data-ng-options="item.valor as item.display for item in lista.turnos">
                                            </select>
                                        </div> <!-- Select Turnos -->

                                        <div class="form-group form-group-sm">
                                            <a style="border-color:white;" class="btn btn-info btn-sm" ng-click="addReg(obj.cartao); sounds.play('add')"><i class="fa fa-plus"></i></a>
                                        </div> <!-- Botão + -->


                                    </div> <!-- Form Cartões -->
                                    <br/><br/>

                                    <div class="row">

                                        <div class="col-lg-6">
                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th colspan="3" class="text-info">Cartões Manhã</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="cartao in saidas.cartoes | filter: {turno: enums.turnos.manha}">
                                                    <td>{{ cartao.bandeira }}</td>
                                                    <td>{{ cartao.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(cartao); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Cartões -->
                                        </div> <!-- Tabela Cartões - Manhã -->

                                        <div class="col-lg-6">
                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th colspan="3" class="text-info">Cartões Tarde</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="cartao in saidas.cartoes | filter: {turno: enums.turnos.tarde}">
                                                    <td>{{ cartao.bandeira }}</td>
                                                    <td>{{ cartao.valor | currency: 'R$ ' }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(cartao); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Cartões - Tarde -->
                                        </div> <!-- Tabela Cartões - Tarde -->

                                    </div> <!-- Tabelas com cartões no TabSet -->

                                </div>
                            </tab> <!-- Tab Form Cartões -->

                            <tab>
                                <tab-heading>
                                    <i class="fa fa-cutlery"></i> Salgados
                                </tab-heading>
                                <div class="panel-body">

                                    <div class="form-inline">

                                        <div class="form-group form-group-sm">
                                            <select class="form-control"
                                                    data-ng-model="obj.produto.nome"
                                                    data-ng-options="item.valor as item.display for item in lista.produtos">
                                            </select>
                                        </div> <!-- Select Nome do Produto -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Vendido" class="form-control" data-ng-model="obj.produto.venda.valor">
                                        </div> <!-- Input Qtd Vendida -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Perdido" class="form-control" data-ng-model="obj.produto.perda.valor">
                                        </div> <!-- Input Qtd Perdida -->

                                        <div class="form-group form-group-sm">
                                            <input type="number" step="any" placeholder="Usado" class="form-control" data-ng-model="obj.produto.uso.valor">
                                        </div> <!-- Input Qtd Usada -->

                                        <div class="form-group form-group-sm">
                                            <a style="border-color: white;" class="btn btn-sm btn-info" ng-click="addReg(obj.produto); sounds.play('add')"><i class="fa fa-plus"></i></a>
                                        </div> <!-- Botão Add Produto -->

                                    </div> <!-- Form Input Produtos (Salgados) -->
                                    <br/>

                                    <div class="row">
                                        <div class="col-lg-8">

                                            <table class="table no-margins">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Salgados</th>
                                                    <th><i class="fa fa-money"></i></th>
                                                    <th><i class="fa fa-trash"></i></th>
                                                    <th><i class="fa fa-refresh"></i></th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="prod in controles.produtos">
                                                    <td><i class="fa fa-cutlery"></i></td>
                                                    <td>{{ prod.nome }}</td>
                                                    <td>{{ prod.venda.valor }}</td>
                                                    <td>{{ prod.perda.valor }}</td>
                                                    <td>{{ prod.uso.valor }}</td>
                                                    <td><i class="fa fa-remove clickable" ng-click="removeReg(prod); sounds.play('remove');"></i></td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Tabela Salgados -->

                                        </div> <!-- Tabela Produtos (Salgados) -->
                                    </div> <!-- Row Tabela Produtos (Salgados) -->
                                </div>
                            </tab> <!-- Tab Form Produtos (Salgados) -->


                        </tabset>

                    </div>
                </div> <!-- Tab Lançamentos -->
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </form>
    </div>
</section>
