<section data-ng-controller="CaixasController" data-ng-init="">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixas</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <a>Registrar Caixa</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form data-ng-submit="create()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registrar Caixa</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <br/><br/>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label for="inputDataCaixa" class="input-group-addon"><i class="fa fa-calendar"></i></label>
                                        <input type="date" id="inputDataCaixa" class="form-control" data-ng-model="data_caixa" ng-change="onChange()">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Manhã</th>
                                    <th style="text-align: center;">Tarde</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Abertura</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaManha" name="abertura.manha.valor" data-ng-model="abertura.manha.valor" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTarde" name="abertura.tarde.valor" data-ng-model="abertura.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Venda</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVendasManha" name="vendas.manha.valor" data-ng-model="vendas.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVendasTarde" name="vendas.tarde.valor" data-ng-model="vendas.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Transferência</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputTransferenciaManha" name="lancamentos.transferencia.manha.valor" data-ng-model="lancamentos.transferencia.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputTransferenciaTarde" name="lancamentos.transferencia.tarde.valor" data-ng-model="lancamentos.transferencia.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Tickets</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputTicketsManha" name="vendas.vales.tickets.manha.valor" data-ng-model="vendas.vales.tickets.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputTicketsTarde" name="vendas.vales.tickets.tarde.valor" data-ng-model="vendas.vales.tickets.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Visa Vale</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVisaValeManha" name="vendas.vales.visa_vale.manha.valor" data-ng-model="vendas.vales.visa_vale.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVisaValeTarde" name="vendas.vales.visa_vale.tarde.valor" data-ng-model="vendas.vales.visa_vale.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Master</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputMasterManha" name="vendas.cartoes.master.manha.valor" data-ng-model="vendas.cartoes.master.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputMasterTarde" name="vendas.cartoes.master.tarde.valor" data-ng-model="vendas.cartoes.master.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Visa</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVisaManha" name="vendas.cartoes.visa.manha.valor" data-ng-model="vendas.cartoes.visa.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputVisaTarde" name="vendas.cartoes.visa.tarde.valor" data-ng-model="vendas.cartoes.visa.tarde.valor" placeholder=""></td>
                                </tr>
                                <tr>
                                    <td>Dinheiro</td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputDinheiroManha" name="lancamentos.dinheiro.manha.valor" data-ng-model="lancamentos.dinheiro.manha.valor" placeholder=""></td>
                                    <td><input type="number" step="any" class="form-control input-transparente-tabela" id="inputDinheiroTarde" name="lancamentos.dinheiro.tarde.valor" data-ng-model="lancamentos.dinheiro.tarde.valor" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Salgados</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Folhados</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputSalgadosFolhados" name="" data-ng-model="acompanhamentos.salgados.folhados" placeholder=""></td>
                                </tr> <!-- Folhados -->
                                <tr>
                                    <td>Outros</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputSalgadosOutros" name="" data-ng-model="acompanhamentos.salgados.outros" placeholder=""></td>
                                </tr> <!-- Outros -->
                                <tr>
                                    <td>Pão de Queijo</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputSalgadosPaoDeQueijo" name="" data-ng-model="acompanhamentos.salgados.pao_de_queijo" placeholder=""></td>
                                </tr> <!-- Pão de Queijo -->
                                <tr>
                                    <td>Leitura Z</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputLeituraZ" name="" data-ng-model="acompanhamentos.leitura_z" placeholder=""></td>
                                </tr> <!-- Leitura Z -->
                                </tbody>
                            </table>
                            <table class="table table-striped no-margins">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">Abertura</th>
                                    <th style="text-align: center;">Fechamento</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Água</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAguaAbertura" name="acompanhamentos.agua.abertura" data-ng-model="acompanhamentos.agua.abertura" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAguaFechamento" name="acompanhamentos.agua.fechamento" data-ng-model="acompanhamentos.agua.fechamento" placeholder=""></td>
                                </tr> <!-- Água -->
                                <tr>
                                    <td>Luz</td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputLuzAbertura" name="acompanhamentos.luz.abertura" data-ng-model="acompanhamentos.luz.abertura" placeholder=""></td>
                                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputLuzFechamento" name="acompanhamentos.luz.fechamento" data-ng-model="acompanhamentos.luz.fechamento" placeholder=""></td>
                                </tr> <!-- Água -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Inline form</h5>

                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" placeholder="Descrição" class="form-control" data-ng-model="objRegistro.descricao">
                                </div>
                                <div class="form-group">
                                    <input type="number" step="any" placeholder="Valor" class="form-control" data-ng-model="objRegistro.valor">
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            data-ng-model="objRegistro.obj"
                                            data-ng-options="item as item.display for item in listaTiposRegistro">
                                    </select>
                                </div>
                                <div class="form-group" ng-show="objRegistro.obj.valor === 'despesa'">
                                    <select class="form-control"
                                            data-ng-model="objRegistro.turno"
                                            data-ng-options="item as item.display for item in listaTurnos">
                                    </select>
                                </div>
                                <a style="margin-top: 6px; margin-left: 15px;" class="btn btn-info" ng-click="addRegistro(objRegistro)"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <table class="table no-margins">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-danger">Despesas Manhã</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="desp_m in lancamentos.despesas.manha">
                                <td>{{ desp_m.descricao }}</td>
                                <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                                <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/><br/>
                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3" class="text-danger">Despesas Tarde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in lancamentos.despesas.tarde">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3">
                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3">Movimentação Cofre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in movimentacao.cofre">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_cofre')"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/><br/>
                    <table class="table no-margins">
                        <thead>
                        <tr>
                            <th colspan="3">Movimentação Geral</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="desp_m in movimentacao.geral">
                            <td>{{ desp_m.descricao }}</td>
                            <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                            <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_geral')"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            </form>
        </form>
    </div>
</section>
