<div class="wrapper wrapper-content" data-ng-controller="DashboardsController" data-ng-init="loadCurrentMonth()">

    <div class="row">
        <div class="col-lg-12">
            <div class="v-toolmenu-top-row">
                <div class="form-inline">
                    <div class="form-group m-t-sm m-b-lg">
                        <input type="date" class="form-control" data-ng-model="datas.inicial">
                    </div>
                    <div class="form-group">
                        <div class="m-t-sm m-l-md m-r-md">até</div>
                    </div>
                    <div class="form-group m-t-sm m-b-md">
                        <input type="date" class="form-control" data-ng-model="datas.final">
                    </div>
                    <div class="form-group">
                        <span class="btn btn-success m-t-sm m-l-md" style="border-color: white;" ng-click="loadPeriod(datas.inicial, datas.final)">Buscar</span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ToolMenu -->

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Mar 2017</span>
                    <h5>Venda</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ dashboard.totais.vendas | currency: 'R$ ' }}</h1>

                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                    <small>Venda total</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Mar 2017</span>
                    <h5>Cartões</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ dashboard.totais.cartoes | currency: 'R$ ' }}</h1>

                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                    <small>Venda total no Cartão</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Vendidos</span>
                    <h5>Produtos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ dashboard.totais.produtos.vendas }}</h1>

                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                    <small>Total de produtos vendidos</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Perdas</span>
                    <h5>Produtos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{ dashboard.totais.produtos.perdas }}</h1>

                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                    <small>Total de salgados perdidos</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Orders</h5>

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white active">Today</button>
                            <button type="button" class="btn btn-xs btn-white">Monthly</button>
                            <button type="button" class="btn btn-xs btn-white">Annual</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9" ng-controller="GraficosController as gc">
                            <div class="flot-chart">
                                <div flot class="flot-chart-content" dataset="gc.flotData" options="gc.flotOptions"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">{{ dashboard.totais.leitura_z | currency: 'R$ ' }}</h2>
                                    <small>Total Leitura Z</small>
                                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>Orders in last month</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2>
                                    <small>Monthly income from orders</small>
                                    <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Controles</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-cutlery m-r-sm" style="font-size: .89em;"></i> Salgados</h3>
                    <small><i class="fa fa-tim"></i> Controle do aproveitamento de salgados</small>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">

                        <div class="feed-element" data-ng-repeat="prod in dashboard.produtos">
                            <div>
                                <small class="pull-right text-navy">{{ prod.dias }} dias</small>
                                <strong>{{ prod.nome | limitTo: 25 }}</strong>
                                <div class="m-t-sm">vendidos: {{ prod.venda.qtd }} - média: {{ prod.venda.media | number: 2 }}</div>
                                <div class="m-t-sm">vendidos: {{ prod.perda.qtd }} - média: {{ prod.perda.media | number: 2 }}</div>
                                <div class="m-t-sm">vendidos: {{ prod.uso.qtd }} - média: {{ prod.uso.media | number: 2 }}</div>
                                <small class="text-muted m-t-sm">Today 5:60 pm - 12.06.2014</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Controles</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th class="text-center">Venda / md</th>
                                    <th class="text-center">Perda / md</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="prod in dashboard.produtos">
                                    <td>
                                        <small class="m-r-sm"><i class="fa fa-cutlery"></i> </small>
                                        <small>{{ prod.nome }}</small>
                                    </td>
                                    <td class="text-center">
                                        <small>{{ prod.venda.qtd }} / </small>
                                        <small>{{ prod.venda.media | number: 1 }}</small>
                                    </td>
                                    <td class="text-center">
                                        <small>{{ prod.perda.qtd }} / </small>
                                        <small>{{ prod.perda.media | number: 1 }}</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Small todo list</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <ul class="todo-list m-t small-list">
                                <li>
                                    <checkbox ng-model="main.checkOne"></checkbox>
                                    <span class="m-l-xs">Buy a milk</span>
                                </li>
                                <li>
                                    <checkbox ng-model="check1"></checkbox>
                                    <span class="m-l-xs">Go to shop and find some products.</span>

                                </li>
                                <li>
                                    <checkbox ng-model="check2"></checkbox>
                                    <span class="m-l-xs">Send documents to Mike</span>
                                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                                </li>
                                <li>
                                    <checkbox ng-model="main.checkTwo"></checkbox>
                                    <span class="m-l-xs">Go to the doctor dr Smith</span>
                                </li>
                                <li>
                                    <checkbox ng-model="check4"></checkbox>
                                    <span class="m-l-xs">Plan vacation</span>
                                </li>
                                <li>
                                    <checkbox ng-model="check5"></checkbox>
                                    <span class="m-l-xs">Create new stuff</span>
                                </li>
                                <li>
                                    <checkbox ng-model="check6"></checkbox>
                                    <span class="m-l-xs">Call to Anna for dinner</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Transactions worldwide</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th style="width: 1%" class="text-center">No.</th>
                                            <th>Transaction</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td> Security doors
                                                </small></td>
                                            <td class="text-center small">16 Jun 2014</td>
                                            <td class="text-center"><span class="label label-primary">$483.00</span></td>

                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td> Wardrobes
                                            </td>
                                            <td class="text-center small">10 Jun 2014</td>
                                            <td class="text-center"><span class="label label-primary">$327.00</span></td>

                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td> Set of tools
                                            </td>
                                            <td class="text-center small">12 Jun 2014</td>
                                            <td class="text-center"><span class="label label-warning">$125.00</span></td>

                                        </tr>
                                        <tr>
                                            <td class="text-center">4</td>
                                            <td> Panoramic pictures</td>
                                            <td class="text-center small">22 Jun 2013</td>
                                            <td class="text-center"><span class="label label-primary">$344.00</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">5</td>
                                            <td>Phones</td>
                                            <td class="text-center small">24 Jun 2013</td>
                                            <td class="text-center"><span class="label label-primary">$235.00</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">6</td>
                                            <td>Monitors</td>
                                            <td class="text-center small">26 Jun 2013</td>
                                            <td class="text-center"><span class="label label-primary">$100.00</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>