<section data-ng-controller="CaixasController" data-ng-init="findOne()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixa do dia: {{ caixa.data_caixa | date: 'dd/MM/yyyy' }}</h2>
            <!--<span ng-repeat="forn in fornecedores">{{ forn }}</span>-->
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Caixa</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form data-ng-submit="update()">
            <div class="row">

                <div class="col-lg-4">

                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <br/>
                            <div class="table-responsive">
                                <div class="col-lg-12">
                                    <h4>Entradas</h4>
                                    <hr>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <table class="table small table-striped">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Descrição</th>
                                                    <th class="text-center">Turno</th>
                                                    <th>Valor</th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-change="sounds.play('check')" ng-model="caixa.entradas.abertura.manha.checked"></td>
                                                    <td ng-class="caixa.entradas.abertura.manha.checked ? 'text-strikethrough': ''">Abertura</td>
                                                    <td ng-class="caixa.entradas.abertura.manha.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-coffee"></i></td>
                                                    <td ng-class="caixa.entradas.abertura.manha.checked ? 'text-strikethrough': ''">{{ caixa.entradas.abertura.manha.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.entradas.abertura.manha, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.entradas.abertura.manha.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.entradas.abertura.manha.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Abertura Manhã -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.entradas.abertura.tarde.checked"></td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''">Abertura</td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-sun-o"></i></td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''">{{ caixa.entradas.abertura.tarde.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.entradas.abertura.tarde, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.entradas.abertura.tarde.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.entradas.abertura.tarde.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Abertura Tarde -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.entradas.vendas.manha.checked"></td>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''">Vendas</td>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-coffee"></td>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''">{{ caixa.entradas.vendas.manha.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.entradas.vendas.manha, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.entradas.vendas.manha.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.entradas.vendas.manha.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Venda Manhã -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.entradas.vendas.tarde.checked"></td>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''">Vendas</td>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-sun-o"></i></td>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''">{{ caixa.entradas.vendas.tarde.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.entradas.vendas.tarde, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.entradas.vendas.tarde.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.entradas.vendas.tarde.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Venda Tarde -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.saidas.transferencia.manha.checked"></td>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''">Transferências</td>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-coffee"></td>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''">{{ caixa.saidas.transferencia.manha.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.saidas.transferencia.manha, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.saidas.transferencia.manha.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.saidas.transferencia.manha.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Transferencia Manhã -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.saidas.transferencia.tarde.checked"></td>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''">Transferências</td>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-sun-o"></i></td>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''">{{ caixa.saidas.transferencia.tarde.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.saidas.transferencia.tarde, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.saidas.transferencia.tarde.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.saidas.transferencia.tarde.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Transferencia Tarde -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.saidas.dinheiro.manha.checked"></td>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''">Dinheiro</td>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-coffee"></td>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''">{{ caixa.saidas.dinheiro.manha.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.saidas.dinheiro.manha, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.saidas.dinheiro.manha.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.saidas.dinheiro.manha.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Dinheiro Manhã -->

                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')"ng-model="caixa.saidas.dinheiro.tarde.checked"></td>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''">Dinheiro</td>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''" class="text-center"><i class="fa fa-sun-o"></i></td>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''">{{ caixa.saidas.dinheiro.tarde.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(caixa.saidas.dinheiro.tarde, enums.tiposAux.entrada)"></i>&nbsp;&nbsp;
                                                        <i ng-show="caixa.saidas.dinheiro.tarde.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ caixa.saidas.dinheiro.tarde.obs }}"></i>
                                                    </td>
                                                </tr> <!-- Dinheiro Tarde

                                                </tbody>
                                            </table> <!-- Entradas -->

                                            <table class="table small table-striped" ng-hide="showTab.valor !== 'Ent'">
                                                <thead>
                                                <tr>
                                                    <th>Checked</th>
                                                    <th>Descrição</th>
                                                    <th>Turno</th>
                                                    <th>Valor</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.entradas.abertura.manha.checked"></td>
                                                    <td ng-class="defC.strikeThrough(caixa.entradas.abertura.manha.checked)">Abertura</td>
                                                    <td ng-class="defC.strikeThrough(caixa.entradas.abertura.manha.checked)">Manhã</td>
                                                    <td ng-class="defC.strikeThrough(caixa.entradas.abertura.manha.checked)">
                                                        <input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.abertura.manha.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.entradas.abertura.tarde.checked"></td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''">Abertura</td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''">Tarde</td>
                                                    <td ng-class="caixa.entradas.abertura.tarde.checked ? 'text-strikethrough': ''">
                                                        <input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.abertura.tarde.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.entradas.vendas.manha.checked">Vendas</td>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''">Manhã</td>
                                                    <td ng-class="caixa.entradas.vendas.manha.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.vendas.manha.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.entradas.vendas.tarde.checked">Vendas</td>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''">Tarde</td>
                                                    <td ng-class="caixa.entradas.vendas.tarde.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.vendas.tarde.valor" placeholder=""></td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.saidas.transferencia.manha.checked">Transferências</td>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''">Manhã</td>
                                                    <td ng-class="caixa.saidas.transferencia.manha.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.transferencia.manha.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.saidas.transferencia.tarde.checked">Transferências</td>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''">Tarde</td>
                                                    <td ng-class="caixa.saidas.transferencia.tarde.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.transferencia.tarde.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.saidas.dinheiro.manha.checked">Dinheiro</td>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''">Manhã</td>
                                                    <td ng-class="caixa.saidas.dinheiro.manha.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.dinheiro.manha.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''"><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="caixa.saidas.dinheiro.tarde.checked">Dinheiro</td>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''">Tarde</td>
                                                    <td ng-class="caixa.saidas.dinheiro.tarde.checked ? 'text-strikethrough': ''">
                                                        <input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.dinheiro.tarde.valor" placeholder="">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Entradas Alt-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                    </div>

                </div> <!-- Entradas -->

                <div class="col-lg-4">

                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <br/>
                            <div class="table-responsive">
                                <div class="col-lg-12">
                                    <h4>Despesas</h4>
                                    <hr>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table small table-striped">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Descrição</th>
                                                    <th>Valor</th>
                                                    <th class="text-center">Turno</th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="desp in caixa.saidas.despesas | orderBy: 'checked'">
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')" ng-model="desp.checked"></td>
                                                    <td ng-class="desp.checked ? 'text-strikethrough': ''">{{ desp.descricao }}</td>
                                                    <td ng-class="desp.checked ? 'text-strikethrough': ''">{{ desp.valor | currency: 'R$ ' }}</td>
                                                    <td ng-class="desp.checked ? 'text-strikethrough': ''" class="text-center"><i popover-placement="top" popover="{{ desp.turno }}" ng-class="defC.turnoIcon(desp.turno)" class="text-center"></i></td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(desp, enums.tiposAux.desp)"></i>&nbsp;&nbsp;
                                                        <i ng-show="desp.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ desp.obs }}"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Despesas -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="table-responsive">
                                <div class="col-lg-12">
                                    <h4>Movimentação</h4>
                                    <hr>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table small table-striped">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">Descrição</th>
                                                    <th>Valor</th>
                                                    <th class="text-center">Turno</th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="mov in caixa.movimentacoes | orderBy: 'checked'">
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-change="sounds.play('check')" ng-model="mov.checked"></td>
                                                    <td ng-class="mov.checked ? 'text-strikethrough': ''">{{ mov.descricao }}</td>
                                                    <td ng-class="mov.checked ? 'text-strikethrough': ''">{{ mov.valor | currency: 'R$ ' }}</td>
                                                    <td ng-class="mov.checked ? 'text-strikethrough': ''" class="text-center"><i popover-placement="top" popover="{{ mov.origem }}" ng-class="defC.origemIcon(mov.origem)" class="text-center"></i></td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(mov, enums.tiposAux.mov)"></i>&nbsp;&nbsp;
                                                        <i ng-show="mov.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ mov.obs }}"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Despesas -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div> <!-- Despesas e Movimentações -->

                <div class="col-lg-4">

                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <br/>
                            <div class="table-responsive">
                                <div class="col-lg-12">
                                    <h4>Cartões</h4>
                                    <hr>
                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" placeholder="Busca" class="input-sm form-control" data-ng-model="query_cartoes">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button></span><br/>
                                            </div>
                                            <table class="table small table-striped">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-center">Turno</th>
                                                    <th>Valor</th>
                                                    <th><i class="fa fa-bolt"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="card in caixa.saidas.cartoes | orderBy: 'checked' | filter: query_cartoes">
                                                    <!--<td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="card.checked"></td>-->
                                                    <td><input icheck type="checkbox" class="icheckbox_flat-blue" ng-model="card.checked" ng-change="sounds.play('check')"></td>
                                                    <td ng-class="card.checked ? 'text-strikethrough': ''" class="text-center"><i popover-placement="top" popover="{{ card.turno }}" ng-class="defC.turnoIcon(card.turno)" class="text-center"></i></td>
                                                    <td ng-class="card.checked ? 'text-strikethrough': ''">{{ card.valor | currency: 'R$ ' }}</td>
                                                    <td>
                                                        <i class="fa fa-pencil-square clickable" ng-click="modalEditCaixas(card, enums.tiposAux.cartao)"></i>&nbsp;&nbsp;
                                                        <i ng-show="card.obs" class="fa fa-comment text-warning" popover-placement="left" popover="{{ card.obs }}"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table> <!-- Cartões -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                        </div>
                    </div>

                </div> <!-- Cartões -->

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-info pull-right">
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>

<!--<div class="row">-->
    <!--<div class="col-sm-4">-->

        <!--<table class="table table no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th style="text-align: center;">Manhã</th>-->
                <!--<th style="text-align: center;">Tarde</th>-->
                <!--<th style="text-align: center;">Totais</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Abertura</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.abertura.manha.valor" placeholder=""></td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.abertura.tarde.valor" placeholder=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Venda</td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.vendas.manha.valor" placeholder=""></td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.entradas.vendas.tarde.valor" placeholder=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Transferência</td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.transferencia.manha.valor" placeholder=""></td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.transferencia.tarde.valor" placeholder=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Cartões</td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.mod_virtual.saidas.cartoes.manha" placeholder=""></td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.mod_virtual.saidas.cartoes.tarde" placeholder=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Despesas</td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.mod_virtual.saidas.despesas.manha" placeholder=""></td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.mod_virtual.saidas.despesas.tarde" placeholder=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Dinheiro</td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.dinheiro.manha.valor" placeholder=""></td>-->
                <!--<td><input type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.saidas.dinheiro.tarde.valor" placeholder=""></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Tabela ... &ndash;&gt;-->

        <!--<table class="table table-striped no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th style="text-align: center;">Salgados</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Folhados</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.folhados" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Folhados &ndash;&gt;-->
            <!--<tr>-->
                <!--<td>Outros</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.outros" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Outros &ndash;&gt;-->
            <!--<tr>-->
                <!--<td>Pão de Queijo</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.pao_de_queijo" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Pão de Queijo &ndash;&gt;-->
            <!--<tr>-->
                <!--<td>Leitura Z</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.leitura_z" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Leitura Z &ndash;&gt;-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Salgados &ndash;&gt;-->

        <!--<table class="table table-striped no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th style="text-align: center;">Abertura</th>-->
                <!--<th style="text-align: center;">Fechamento</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Água</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.agua.abertura" placeholder=""></td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.agua.fechamento" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Água &ndash;&gt;-->
            <!--<tr>-->
                <!--<td>Luz</td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.luz.abertura" placeholder=""></td>-->
                <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.luz.fechamento" placeholder=""></td>-->
            <!--</tr> &lt;!&ndash; Luz &ndash;&gt;-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Água e Luz &ndash;&gt;-->
    <!--</div> &lt;!&ndash; ibox Lançamentos Caixa &ndash;&gt;-->
    <!--<div class="col-lg-3">-->

        <!--<table class="table no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th colspan="3" class="text-danger">Despesas Manhã</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.manha}">-->
                <!--<td>{{ desp_m.descricao }}</td>-->
                <!--<td>{{ desp_m.valor | currency: 'R$ ' }}</td>-->
                <!--<td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Tabela Despesas - Manhã &ndash;&gt;-->
        <!--<br/><br/>-->

        <!--<table class="table no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th colspan="3" class="text-danger">Despesas Tarde</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.tarde}">-->
                <!--<td>{{ desp_m.descricao }}</td>-->
                <!--<td>{{ desp_m.valor | currency: 'R$ ' }}</td>-->
                <!--<td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Tabela Despesas - Tarde &ndash;&gt;-->
        <!--<br/><br/>-->

        <!--<table class="table no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th colspan="3">Movimentação Cofre</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.cofre}">-->
                <!--<td>{{ desp_m.descricao }}</td>-->
                <!--<td>{{ desp_m.valor | currency: 'R$ ' }}</td>-->
                <!--<td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_cofre')"></i></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Tabela Movimentação - Cofre &ndash;&gt;-->
        <!--<br/><br/>-->

        <!--<table class="table no-margins">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th colspan="3">Movimentação Geral</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.geral}">-->
                <!--<td>{{ desp_m.descricao }}</td>-->
                <!--<td>{{ desp_m.valor | currency: 'R$ ' }}</td>-->
                <!--<td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_geral')"></i></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table> &lt;!&ndash; Tabela Movimentação - Geral &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-lg-5">-->
        <!--<div class="ibox float-e-margins">-->
            <!--<div class="ibox-title">-->
                <!--<h5>Conferências</h5>-->
                <!--<div ibox-tools></div>-->
            <!--</div>-->
            <!--<div class="ibox-content">-->
                <!--<br/><br/>-->
                <!--<table class="table table-striped no-margins">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th></th>-->
                        <!--<th style="text-align: center;">Manhã</th>-->
                        <!--<th style="text-align: center;">Tarde</th>-->
                        <!--<th style="text-align: center;">Tarde</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>Geral</td>-->
                        <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaManhaf" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.abertura_venda" placeholder=""></td>-->
                        <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardef" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.entradas" placeholder=""></td>-->
                        <!--<td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardeg" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.diferenca" placeholder=""></td>-->
                    <!--</tr>-->

                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->