<section data-ng-controller="CaixasController" data-ng-init="findOne()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixa do dia: {{ caixa.data_caixa | date: 'dd/MM/yyyy' }}</h2>
            <!--<span ng-repeat="forn in fornecedores">{{ forn }}</span>-->
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Caixa</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(total)</small></h5>
                                <h1 class="no-margins" class="text-success">{{ caixa.mod_virtual.entradas.vendas.total | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy"><i class="fa fa-bolt"></i></div>
                                <small>alguma coisa</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(dinheiro)</small></h5>
                                <h1 class="no-margins">{{ caixa.mod_virtual.widgets.venda.dinheiro.valor | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy">{{ caixa.mod_virtual.widgets.venda.dinheiro.percentual | percent: 2}} <i class="fa fa-bolt"></i></div>
                                <small>Percentual</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(cartão)</small></h5>
                                <h1 class="no-margins">{{ caixa.mod_virtual.widgets.venda.cartao.valor | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy">{{ caixa.mod_virtual.widgets.venda.cartao.percentual | percent: 2}} <i class="fa fa-bolt"></i></div>
                                <small>Percentual</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Diferença <small>(total)</small></h5>
                                <h1 class="no-margins text-warning" ng-show="caixa.mod_virtual.widgets.diferenca.total > 0">{{ caixa.mod_virtual.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <h1 class="no-margins text-info" ng-show="caixa.mod_virtual.widgets.diferenca.total == 0">{{ caixa.mod_virtual.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <h1 class="no-margins text-danger" ng-show="caixa.mod_virtual.widgets.diferenca.total < 0">{{ caixa.mod_virtual.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-danger">24% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income</h5>
                                <h1 class="no-margins">886,200</h1>
                                <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income last month</h5>
                                <h1 class="no-margins">1 738,200</h1>
                                <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income last day</h5>
                                <h1 class="no-margins">-200,100</h1>
                                <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income all</h5>
                                <h1 class="no-margins">54,200</h1>
                                <div class="stat-percent font-bold text-danger">24% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Salgados</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                            <tr>
                                <td class="no-borders"><i class="fa fa-cutlery text-navy"></i></td>
                                <td class="no-borders">Folhados</td>
                                <td class="no-borders">{{ caixa.controles.salgados.folhados }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Outros</td>
                                <td>{{ caixa.controles.salgados.outros }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Total</td>
                                <td>{{ caixa.v.controles.salgados.total }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Pão de Queijo</td>
                                <td>{{ caixa.controles.salgados.pao_de_queijo }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-money text-navy"></i></td>
                                <td>Leitura Z</td>
                                <td>{{ caixa.controles.leitura_z | currency: 'R$ ' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-7">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Caixa</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <table class="table small m-t-md">
                                    <thead>
                                    <tr>
                                        <th colspan="3"></th>
                                        <th>Manhã</th>
                                        <th>Tarde</th>
                                        <th>Totais</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="3">Abertura</td>
                                        <td>{{ caixa.entradas.abertura.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.entradas.abertura.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.entradas.abertura.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Venda</td>
                                        <td>{{ caixa.entradas.vendas.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.entradas.vendas.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.entradas.vendas.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Transferência</td>
                                        <td>{{ caixa.saidas.transferencia.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.saidas.transferencia.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.transferencia.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Cartões</td>
                                        <td>{{ caixa.v.saidas.cartoes.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.cartoes.tarde | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.cartoes.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Despesas</td>
                                        <td>{{ caixa.v.saidas.despesas.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.despesas.tarde | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.despesas.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Dinheiro</td>
                                        <td>{{ caixa.saidas.dinheiro.manha.valor | currency: 'R$ '}}</td>
                                        <td>{{ caixa.saidas.dinheiro.tarde.valor | currency: 'R$ '}}</td>
                                        <td>{{ caixa.v.saidas.dinheiro.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Totais</td>
                                        <td>{{ caixa.v.saidas.total.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.total.tarde | currency: 'R$ '}}</td>
                                        <td>{{ caixa.v.saidas.total.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Totais</td>
                                        <td>{{ caixa.v.diferenca.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.diferenca.tarde | currency: 'R$ '}}</td>
                                        <td>{{ caixa.v.diferenca.total | currency: 'R$ ' }}</td>
                                    </tr>

                                    </tbody>
                                </table> <!-- Tabela ... -->
                            </div>
                        </div>

                        <br/><br/>

                    </div> <!-- ibox Lançamentos Caixa -->
                    <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Controles</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <ul class="list-group clear-list m-t">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right"> 09:00 pm</span>
                                        <span class="label label-success">1</span> Please contact me
                                    </li>
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right"> 09:00 pm</span>
                                        <span class="label label-success">1</span> Please contact me
                                    </li>
                                </ul>
                                <table class="table no-margins">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center;">Salgados</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Folhados</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.folhados" placeholder=""></td>
                                    </tr> <!-- Folhados -->
                                    <tr>
                                        <td>Outros</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.outros" placeholder=""></td>
                                    </tr> <!-- Outros -->
                                    <tr>
                                        <td>Pão de Queijo</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.salgados.pao_de_queijo" placeholder=""></td>
                                    </tr> <!-- Pão de Queijo -->
                                    <tr>
                                        <td>Leitura Z</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.leitura_z" placeholder=""></td>
                                    </tr> <!-- Leitura Z -->
                                    </tbody>
                                </table> <!-- Salgados -->
                                <table class="table table-striped no-margins">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center;">Abertura</th>
                                        <th style="text-align: center;">Fechamento</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Água</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.agua.abertura" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.agua.fechamento" placeholder=""></td>
                                    </tr> <!-- Água -->
                                    <tr>
                                        <td>Luz</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.luz.abertura" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="caixa.controles.luz.fechamento" placeholder=""></td>
                                    </tr> <!-- Luz -->
                                    </tbody>
                                </table> <!-- Água e Luz -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Conferências</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <br/><br/>
                                <table class="table table-striped no-margins">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center;">Manhã</th>
                                        <th style="text-align: center;">Tarde</th>
                                        <th style="text-align: center;">Tarde</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Geral</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaManhaf" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.abertura_venda" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardef" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.entradas" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardeg" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.diferenca" placeholder=""></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-danger">Despesas Manhã</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.manha}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Despesas - Manhã -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-danger">Despesas Tarde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.tarde}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Despesas - Tarde -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3">Movimentação Cofre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.cofre}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_cofre')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Movimentação - Cofre -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3">Movimentação Geral</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.geral}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_geral')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Movimentação - Geral -->
            </div>
        </div>

    </div>
</section>