<section data-ng-controller="AmazonrulesController" data-ng-init="find()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Amazon Rules</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Listar Amazon Rules</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3" data-ng-repeat="amazonrule in amazonrules | orderBy: 'tipo_set'">
                <div class="contact-box center-version">

                    <a ng-href="#!/amazonrules/{{ amazonrule._id }}">

                        <!--<img alt="image" class="img-circle" src="img/a2.jpg">-->


                        <h3 class="m-b-xs"><strong>{{ amazonrule.nome_set }}</strong></h3>
                        <div class="font-bold">{{ amazonrule.tipo_set }}</div>
                        <!--<address class="m-t-md">-->
                            <!--<strong>Regras</strong><br><br/>-->
                            <!--<div data-ng-repeat="rule in amazonrule.rule_set">-->
                                <!--{{ rule.tipo_rule }}-->
                                <!--{{ rule.operador_rule }}-->
                                <!--{{ rule.dados_rule.valor }} {{ rule.dados_rule.unidade }}-->
                            <!--</div>-->
                        <!--</address>-->

                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a ng-href="#!/amazonrules/{{ amazonrule._id }}" class="btn btn-xs btn-white"><i class="fa fa-eye"></i> View</a>
                            <a ng-href="#!/amazonrules/{{ amazonrule._id }}/edit" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Edit</a>
                            <a ng-click="remove(amazonrule)" class="btn btn-xs btn-white"><i class="fa fa-remove"></i> Remove</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>