<section data-ng-controller="CustosController">
    <div class="container">
        <h2>Cadastro de Custo</h2>
        <hr>
        <div class="col-xs-8">
            <form data-ng-submit="create()">
                <label for="inputNomeCusto">Nome do Custo:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputNomeCusto" ng-model="nome">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label for="inputTipoCusto">Tipo do Custo:</label>
                        <div class="form-group">
                            <select class="form-control" name="inputTipoCusto" id="inputTipoCusto" ng-model="tipo">
                                <option class="form-control" ng-repeat="tipoCusto in enumTiposCustos" value="{{tipoCusto}}">{{tipoCusto}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="inputAtivo" class="checkbox  checkbox-inline">
                            <input type="checkbox" id="inputAtivo" class="checkbox" ng-model="ativo">Custo Ativo?
                        </label>
                    </div>
                </div>
                <div ng-show="tipo == 'Valor'">
                    <label for="inputValorCusto">Valor:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputValorCusto" ng-model="valor">
                    </div>
                </div>
                <div ng-show="tipo == 'Alíquota'">
                    <label for="inputAliquota">Alíquota:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAliquota" ng-model="aliquota">
                    </div>
                </div>
                <br/>
                <input type="submit" class="btn btn-info" value="Cadastrar">
            </form>
        </div>
    </div>
</section>