<section data-ng-controller="CaixasController" data-ng-init="findOne()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caixa do dia: {{ caixa.data_caixa | date: 'dd/MM/yyyy' }}</h2><a ng-href="#!/caixas/{{ caixa._id }}\edit"><i class="fa fa-pencil"></i></a>
            <!--<span ng-repeat="forn in fornecedores">{{ forn }}</span>-->
            <ol class="breadcrumb">
                <li>
                    <a ng-href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Caixa</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-sm-9">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(total)</small></h5>
                                <h1 class="no-margins" class="text-success">{{ caixa.v.entradas.vendas.total | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy"><i class="fa fa-bolt"></i></div>
                                <small>alguma coisa</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(dinheiro)</small></h5>
                                <h1 class="no-margins">{{ caixa.v.widgets.venda.dinheiro.valor | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy">{{ caixa.v.widgets.venda.dinheiro.percentual | percent: 2}} <i class="fa fa-bolt"></i></div>
                                <small>Percentual</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Venda <small>(cartão)</small></h5>
                                <h1 class="no-margins">{{ caixa.v.widgets.venda.cartao.valor | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-navy">{{ caixa.v.widgets.venda.cartao.percentual | percent: 2}} <i class="fa fa-bolt"></i></div>
                                <small>Percentual</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Diferença <small>(total)</small></h5>
                                <h1 class="no-margins text-warning" ng-show="caixa.v.widgets.diferenca.total > 0">{{ caixa.v.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <h1 class="no-margins text-info" ng-show="caixa.v.widgets.diferenca.total == 0">{{ caixa.v.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <h1 class="no-margins text-danger" ng-show="caixa.v.widgets.diferenca.total < 0">{{ caixa.v.widgets.diferenca.manha | currency: 'R$ ' }}</h1>
                                <div class="stat-percent font-bold text-danger">24% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                </div> <!-- Widgets - Linha 1 -->

                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income</h5>
                                <h1 class="no-margins">886,200</h1>
                                <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income last month</h5>
                                <h1 class="no-margins">1 738,200</h1>
                                <div class="stat-percent font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income last day</h5>
                                <h1 class="no-margins">-200,100</h1>
                                <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Income all</h5>
                                <h1 class="no-margins">54,200</h1>
                                <div class="stat-percent font-bold text-danger">24% <i class="fa fa-level-down"></i></div>
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                </div> <!-- Widgets - Linha 2 -->

            </div> <!-- Widgets -->

            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Salgados</h5>
                                <table class="table table-stripped small m-t-md">
                                    <tbody>
                                    <tr>
                                        <td class="no-borders"><i class="fa fa-cutlery text-navy"></i></td>
                                        <td class="no-borders">Folhados</td>
                                        <td class="no-borders">{{ caixa.controles.salgados.folhados.qtd }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-cutlery text-navy"></i></td>
                                        <td>Outros</td>
                                        <td>{{ caixa.controles.salgados.outros.qtd }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-cutlery text-navy"></i></td>
                                        <td>Total</td>
                                        <td>{{ caixa.v.controles.salgados.total.qtd }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-cutlery text-navy"></i></td>
                                        <td>Pão de Queijo</td>
                                        <td>{{ caixa.controles.salgados.pao_de_queijo.qtd }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-money text-navy"></i></td>
                                        <td>Leitura Z</td>
                                        <td>{{ caixa.controles.leitura_z.valor | currency: 'R$ ' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Tabela Salgados -->
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Caixa</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">

                                <table class="footable table m-t-md table-stripped toggle-arrow-tiny" data-page-size="8">
                                    <thead>
                                    <tr>
                                        <th data-toggle="true"></th>
                                        <th>Manhã</th>
                                        <th>Tarde</th>
                                        <th data-hide="all">Totais</th>
                                        <th data-hide="all">X</th>
                                        <th data-hide="all">Y</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Abertura</td>
                                        <td>{{ caixa.entradas.abertura.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.entradas.abertura.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.entradas.abertura.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Venda</td>
                                        <td>{{ caixa.entradas.vendas.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.entradas.vendas.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.entradas.vendas.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Transferência</td>
                                        <td>{{ caixa.saidas.transferencia.manha.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.saidas.transferencia.tarde.valor | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.transferencia.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cartões</td>
                                        <td>{{ caixa.v.saidas.cartoes.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.cartoes.tarde | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.cartoes.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Despesas</td>
                                        <td>{{ caixa.v.saidas.despesas.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.despesas.tarde | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.despesas.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Dinheiro</td>
                                        <td>{{ caixa.saidas.dinheiro.manha.valor | currency: 'R$ '}}</td>
                                        <td>{{ caixa.saidas.dinheiro.tarde.valor | currency: 'R$ '}}</td>
                                        <td>{{ caixa.v.saidas.dinheiro.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Totais</td>
                                        <td ng-class="">{{ caixa.v.saidas.total.manha | currency: 'R$ ' }}</td>
                                        <td>{{ caixa.v.saidas.total.tarde | currency: 'R$ '}}</td>
                                        <td>{{ caixa.v.saidas.total.total | currency: 'R$ ' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Diferenças</td>
                                        <td ng-class="(caixa.v.diferenca.manha) < 0 ? 'text-danger': ((caixa.v.diferenca.manha > 0) ? 'text-warning': 'text-success')">
                                            {{ caixa.v.diferenca.manha | currency: 'R$ ' }}</td>
                                        <td ng-class="(caixa.v.diferenca.tarde) < 0 ? 'text-danger': ((caixa.v.diferenca.tarde > 0) ? 'text-warning': 'text-success')">
                                            {{ caixa.v.diferenca.tarde | currency: 'R$ '}}</td>
                                        <td ng-class="(caixa.v.diferenca.total) < 0 ? 'text-danger': ((caixa.v.diferenca.total > 0) ? 'text-warning': 'text-success')">
                                            {{ caixa.v.diferenca.total | currency: 'R$ ' }}</td>
                                    </tr>

                                    </tbody>
                                </table> <!-- Tabela ... -->

                            </div>
                        </div>

                        <br/><br/>

                    </div> <!-- ibox Lançamentos Caixa -->

                    <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Controles</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <table class="footable table m-t-md toggle-arrow-tiny" data-page-size="8">
                                    <thead>
                                    <tr>
                                        <th data-toggle="true">Nome</th>
                                        <th>Vendidos</th>
                                        <th data-hide="all">Perdidos</th>
                                        <th data-hide="all">Usados</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="prod in caixa.controles.produtos">
                                        <td>{{ prod.nome }}</td>
                                        <td>{{ prod.venda.valor }}</td>
                                        <td>{{ prod.perda.valor }}</td>
                                        <td>{{ prod.uso.valor }}</td>
                                    </tr>
                                    </tbody>
                                </table> <!-- Tabela ... -->
                            </div>
                        </div>
                    </div> <!-- ibox Controles -->
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Conferências</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <br/><br/>
                                <table class="table table-striped no-margins">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center;">Manhã</th>
                                        <th style="text-align: center;">Tarde</th>
                                        <th style="text-align: center;">Tarde</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Geral</td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaManhaf" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.abertura_venda" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardef" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.entradas" placeholder=""></td>
                                        <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTardeg" name="" data-ng-model="caixa.caixa.conferencias.geral.manha.diferenca" placeholder=""></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Salgados</h5>
                        <table class="table table-stripped small m-t-md">
                            <tbody>
                            <tr>
                                <td class="no-borders"><i class="fa fa-cutlery text-navy"></i></td>
                                <td class="no-borders">Folhados</td>
                                <td class="no-borders">{{ caixa.controles.salgados.folhados }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Outros</td>
                                <td>{{ caixa.controles.salgados.outros }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Total</td>
                                <td>{{ caixa.v.controles.salgados.total }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-cutlery text-navy"></i></td>
                                <td>Pão de Queijo</td>
                                <td>{{ caixa.controles.salgados.pao_de_queijo }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-money text-navy"></i></td>
                                <td>Leitura Z</td>
                                <td>{{ caixa.controles.leitura_z | currency: 'R$ ' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-danger">Despesas Manhã</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.manha}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'manha')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Despesas - Manhã -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-danger">Despesas Tarde</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.saidas.despesas | filter: {turno: enums.turnos.tarde}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'despesa', 'tarde')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Despesas - Tarde -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3">Movimentação Cofre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.cofre}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_cofre')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Movimentação - Cofre -->
                <br/><br/>

                <table class="table no-margins">
                    <thead>
                    <tr>
                        <th colspan="3">Movimentação Geral</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="desp_m in caixa.movimentacoes | filter: {origem: enums.origens.geral}">
                        <td>{{ desp_m.descricao }}</td>
                        <td>{{ desp_m.valor | currency: 'R$ ' }}</td>
                        <td><i class="fa fa-remove clickable" ng-click="removeRegistro(desp_m, 'mov_geral')"></i></td>
                    </tr>
                    </tbody>
                </table> <!-- Tabela Movimentação - Geral -->
            </div>
        </div>
    </div>
</section>