<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Registrar Caixa</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <br/><br/>
        <form data-ng-submit="create()">
            <div class="form-group">
                <label>Data</label>
                <div class="input-group date">
                    <label for="inputData" class="input-group-addon"><i class="fa fa-calendar"></i></label>
                    <input type="datetime" class="form-control" id="inputData" date-time ng-model="data" view="month" auto-close="true" min-view="month" format="MMMM YYYY">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="input-group"-->
                     <!--moment-picker="dia"-->
                     <!--ng-model="dia"-->
                     <!--ng-change="onChange(moment-picker)"-->
                     <!--locale="pt-br"-->
                     <!--format="DD/MM/YYYY">-->
                                    <!--<span class="input-group-addon">-->
                                        <!--<i class="fa fa-calendar"></i>-->
                                    <!--</span>-->
                    <!--<input class="form-control"-->
                           <!--type="datetime"-->
                           <!--placeholder="Select a date"-->
                           <!--ng-change="onChange()"-->
                           <!--ng-model="dia"-->
                           <!--start-view="month"-->
                           <!--min-view="month"-->
                           <!--locale="pt-br"-->
                           <!--format="DD/MM/YYYY"-->
                           <!--ng-model-options="{ updateOn: 'blur' }">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    <!--<input type="date" class="form-control" data-ng-model="data" ng-change="onChange()">-->
                <!--</div>-->
            <!--</div>-->
            <table class="table table-striped no-margins">
                <thead>
                <tr>
                    <th style="width: 25%;"> </th>
                    <th style="width: 30%; text-align: center;">Valor</th>
                    <th style="width: 15%; text-align: center;">%</th>
                    <th style="width: 30%; text-align: center;">Calculado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Vendas Totais</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                </tr>
                <tr>
                    <td>Fornecedores</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="lancamentos.fornecedores.total" placeholder=""></td>
                </tr>
                <tr>
                    <td>Frete</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                </tr>
                <tr>
                    <td>Impostos</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                </tr>
                <tr>
                    <td>Royalties</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" data-ng-model="" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" placeholder=""></td>
                </tr>
                </tbody>
            </table>

            <br/><br/>
            <div class="form-group">
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">Cadastrar</button>
                <button class="btn btn-sm btn-danger pull-right m-t-n-xs" ng-click="query()">Query</button>
            </div>
        </form>
    </div>
</div>