<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Registrar Caixa</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <br/><br/>
        <form data-ng-submit="create()">
            <!--<div class="form-group">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
            <!--<input type="date" class="form-control" data-ng-model="dia" ng-change="onChange()">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="input-group"
                     moment-picker="dia"
                     ng-model="dia"
                     ng-change="onChange(moment-picker)"
                     locale="pt-br"
                     format="DD/MM/YYYY">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                    <input class="form-control"
                           type="datetime"
                           placeholder="Select a date"
                           ng-change="onChange()"
                           ng-model="dia"
                           start-view="month"
                           min-view="month"
                           locale="pt-br"
                           format="DD/MM/YYYY"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <table class="table table-striped no-margins">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">Valor</th>
                    <th style="text-align: center;">%</th>
                    <th style="text-align: center;">Calculado</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Venda</td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaManha" name="abertura.manha.valor" data-ng-model="receitas.vendas.total" placeholder=""></td>
                    <td><input style="text-align:center;" type="number" step="any" class="form-control input-transparente-tabela" id="inputAberturaCaixaTarde" name="abertura.tarde.valor" data-ng-model="abertura.tarde.valor" placeholder=""></td>
                </tr>

                </tbody>
            </table>
            <div class="form-group">
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">Cadastrar</button>
                <button class="btn btn-sm btn-danger pull-right m-t-n-xs" ng-click="query()">Query</button>
            </div>
        </form>
    </div>
</div>